<!DOCTYPE html>
<html>
    <head>
        <title>$title</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <div id="navbar">
                <div id="navbarmenu">
                    <ul id="navbarlist">
                        
                        <li id="nb-home"><a href="https://parabolas.xyz/" title="Go to homepage">Home</a></li>
                        <li id="nb-about"><a href="about.html">About</a></li>
                    </ul>
                </div>
            </div>
        </header>
 
