<!DOCTYPE html>
<html>
    <head>
        <title>$title</title>
        <meta charset="utf-8">
        $css
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <div id="navbar">
                <div id="navbarmenu">
                    <ul id="navbarlist">
                        
                        <li id="nb-index"><a href="index.html" title="Go to index">Index</a></li>
                        <li id="nb-about"><a href="about.html">About</a></li>
                    </ul>
                    <ul id="navlistright">
                        <li id="nb-home"><a href="http://parabolas.xyz" title="Go to homepage">Home</a></li>
                    </ul>
                </div>
            </div>
        </header>
 
