
                </section>
            </article>
            <aside id="sidebar">
                <details>
                    <summary>Table of contents</summary>
                    <nav class="toc">
                        <ul class="toclist">
                            $toc
                        </ul>
                    </nav>
                </details>
                <dl>
                    <dt>Source:</dt>
                    <dd>
                    $source
                    </dd>
                    <dt>Date generated:</dt>
                    <dd>
                    $date
                    </dd>
                </dl>
            </aside>
        </main>
    </body>
</html>
