<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <div id="navbar">
                <div id="navbarmenu">
                    <ul id="navbarlist">
                        
                        <li id="nb-home"><a href="https://parabolas.xyz/" title="Go to homepage">Home</a></li>
                    </ul>
                </div>
            </div>
            <!--
            <nav>
                
                <a href="/" class="selected">Home</a>
                
                <a href="" >About</a>
                
                <a href="" >Dev</a>
            </nav>
            -->
        </header>
        <main id="content">
            <article id="content-left">
                <section class="man-page-content">

